<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link href="/css/main.css" rel="stylesheet" />
</head>

<body>
  <%- include('partials/navbar', { page: "/solutions/projects" }) %>

  <main class="container mx-auto p-6">
    <div class="hero bg-base-200 rounded-lg p-6 mt-8">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Projects</h1>

          <p class="py-6">Explore various projects contributing to sustainability.</p>
        
        </div>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="table table-zebra">
        <thead>
          <tr>
            <th>Title</th>
            <th>Sector</th>
            <th>Summary</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% projects.forEach(project => { %>
            <tr>
              <td><%= project.title %></td>
              <td>
                <a href="/solutions/projects?sector=<%= project.sector %>" class="btn mt-2 btn-xs">
                  <%= project.sector %>
                </a>
              </td>
              <td><%= project.summary_short %></td>
              <td>
                <a href="/solutions/projects/<%= project.id %>" class="btn btn-primary mt-2 btn-xs">Details</a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </main>

</body>
</html>
