<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= project.title %></title>
  <link href="/css/main.css" rel="stylesheet" />
</head>

<body>
  <%- include('partials/navbar', { page: "" }) %>

  <div class="container mx-auto p-6">

    <div class="hero bg-base-200 rounded-lg p-6 mt-8">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold"><%= project.title %></h1>
          <p class="py-6">Below, you will find detailed information about the project: <%= project.title %></p>
        </div>
      </div>
    </div>
    <br>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-8">
      <div>
        <img class="w-full rounded-lg" src="<%= project.feature_img_url %>" alt="<%= project.title %>">
      </div>
      <div class="prose">
        <h2>Introduction</h2>
        <p><%= project.intro_short %></p>

        <h2>Impact</h2>
        <p><%= project.impact %></p>

        <h2>More Information</h2>
        <a href="<%= project.original_source_url %>" target="_blank"><%= project.original_source_url %></a>
      
        <div class="mt-8 p-4 bg-gray-100 rounded-lg shadow">
          <p id="quote" class="mt-2">Loading...</p>
          <em id="author" class=""></em>
        </div>
    
        <div class="mt-8">
          <a class="btn btn-primary btn-sm" href="#" onclick="history.back(); return false;">Go Back</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      fetch("https://dummyjson.com/quotes/random")
        .then(response => response.json())
        .then(data => {
          document.getElementById("quote").textContent = `"${data.quote}"`;
          document.getElementById("author").textContent = `- ${data.author}`;
        })
        .catch(error => console.error("Error fetching quote:", error));
    });
  </script>

</body>
</html>
